@typeparam TItem
<div class="cards-container">
    @foreach (var item in Items) {
        @ItemTemplate(item)
    }
</div>

@code {
    [Parameter,EditorRequired]
    public required RenderFragment<TItem> ItemTemplate { get; set; }

    [Parameter,EditorRequired]
    public required List<TItem> Items { get; set; }
}